.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;   
    z-index: 1;
}
.featuredItem{
    overflow: hidden;
    color: white;
    border-radius: 10px;
    height: 250px;
    position: relative;
}

.featuredImg{
    width: 100%;
    object-fit: cover;
}

.featuredTitles{
    left: 20px;
    bottom: 20px;
    position: absolute;
}
